@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  h1, h2, h3 {
    @apply font-headings
  }
}

.scrollbar-none::-webkit-scrollbar{
  display: none;
}

.elfocus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(var(--bc) / 0.2);
}